.links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.linkCard {
    width: 90%;
    padding: 15px;
}
.shareLink {
    display: flex;
    align-items: center;
}
.link {
    text-decoration: none;
    color: black;
}