*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    width: 70%;
    margin: 15px auto;
    box-shadow: 0 0 5px black;
    padding: 15px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formClass {
    display: flex;
    border: 1px solid black;
    border-radius: 25px;
    overflow: hidden;
    width: fit-content;
}

input {
    padding: 15px 50px;
    border: none;
    outline: none;
    font-weight: 700;
    font-size: 18px;
}

button {
    border: none;
    outline: none;
    background-color: black;
    color: white;
    cursor: pointer;
    font-weight: 900;
    padding: 0 15px;
}

button:hover {
    background-color: rgb(73, 61, 61);
}

.tableButton {
    padding: 10px 15px;
    border-radius: 25px;
}

.tableClass {
    border-collapse: collapse;
    margin-top: 50px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.382);
}

th, td {
    border: 1px solid black;
    font-size: 22px;
    padding: 10px 25px;
    background-color: green;
    color: white;
}

td{
    background-color: white;
    color: black;
}



@media screen and (max-width: 750px) {
    .formClass input {
        max-width: 200px;
        padding: 10px;
    }

    th, td {
        font-size: 16px;
        padding: 5px 10px;
    }

    .tableButton {
        padding: 1px 5px;
        font-size: 12px;
    }
}

@media screen and (max-width: 500px) {
    .formClass input {
        max-width: 150px;
        padding: 5px;
    }
    th, td {
        font-size: 14px;
        padding: 5px;
    }
}